@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.mobile-only {
  display: inherit;
  @media screen and (min-width: 501px) {
    display: none;
  }
}

.tablet-and-desktop-only {
  display: none;
  @media screen and (min-width: 501px) {
    display: inherit;
  }
}
